.container{
    padding: 15px;
    margin-right:auto;
    margin-left:auto;
    width:970px;
    font-size: 25px;
}

.introduccion{
    position: absolute;
    top: 100px;
    left: 100px;
}

.pruebaUnitaria{
    position: absolute;
    top: 400px;
    left: 100px;
}

.prueba{
    position: absolute;
    left: 30%;
}

.casosDePrueba{
    position: absolute;
    top: 950px;
    left: 100px;
}

.cajas{
    position: absolute;
    left: 30%;
}

.configurarVS{
    position: absolute;
    top: 1550px;
    left: 100px;
}

.probeta{
    position: absolute;
    left: 30%;
}

.paso2{
    position: absolute;
    top: 440px;
}

.paso3{
    position: absolute;
    top: 770px;
}

.habilitar{
    position: absolute;
    left: 30%;
}

.fotos{
    position: absolute;
    top: 1260px;
}

.espacio{
    position: absolute;
    top: 2200px;
}